* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
  height: 100%;
}


.booking-container {
  min-height: 100vh;
}

/* .home-container { */
  /* width: calc(50% - 1rem); */
  /* Allow each article to shrink and grow to fit the row
     with initial size based on its width or content */
  /* flex-shrink: 1;
  flex-grow: 1;
  margin: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
} */
 

img {
  width: 100%;
}


.content {
  flex: 1 0 auto;
}



@media screen and (max-width: 17rem) {
  .home-container {
    width: calc(100% - 1rem);
  }
}

/* book online */
.vagaro a {
  font-size:14px; 
  color:#AAA; 
  text-decoration:none;
}
