* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url('./Assets/images/lauren-fleischmann-akfxOADwNhk-unsplash.jpg');
  background-attachment: fixed;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.homecard-sm {
  height: 500px;
}

.homepage-card {
  transform: translate(-0%, -20%);
  width: 100%;
  background-image: url(./Assets/images/AdobeStock_53052353.jpeg)  ;
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 700px;
  scroll-behavior: smooth;
    overflow: hidden;
}

.abt-img-card {
  background-image: url(./Assets/images/AdobeStock_208497707.jpeg)  ;
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 400px;
  scroll-behavior: smooth;
    overflow: hidden;
    margin: 0;
}



/* book online */
.vagaro a {
  font-size:14px; 
  color:#AAA; 
  text-decoration:none;
}

@media only screen and (max-width: 600px) {
  .homepage-card {
    height: 550px;
  }
}
