* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url('./Assets/images/lauren-fleischmann-akfxOADwNhk-unsplash.jpg');
  background-attachment: fixed;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.homecard-sm {
  height: 500px;
}

.homepage-card {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -56%);
  object-fit: cover;
  width: 100%;
  background: url(./Assets/images/AdobeStock_53052353.jpeg) no-repeat center
    center;
  background-size: cover;
  position: absolute;
  min-height: 90vh;
  scroll-behavior: smooth;
  overflow: hidden;
}

.abt-img-card {
  background-image: url(./Assets/images/AdobeStock_208497707.jpeg);
  background-size: cover;
  position: relative;
  min-height: 400px;
  scroll-behavior: smooth;
  overflow: hidden;
  margin: 0;
}
.srv-menu-card {
  background-image: url(./Assets/images/AdobeStock_290145313.jpeg);
  background-size: cover;
  position: relative;
  min-height: 500px;
  scroll-behavior: smooth;
  overflow: hidden;
  margin: 0;
}

/* book online */
.vagaro a {
  font-size: 14px;
  color: #aaa;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .homepage-card {
    height: 550px;
  }

  .abt-img-card {
    background-position: center;
  }
}
